<div class="main-menu">
    <a href="/">
    <%= image_tag  "system/logo.png", class: "logo" %>
    </a>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="http://xrenlab.com">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="members.html">MEMBERS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.flickr.com/photos/123468034@N06/albums">PHOTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://checcn.xrenlab.com/">中文版</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://xrenlabjp.wordpress.com/">日本語</a>
        </li>
    </ul>
</div>