<% content_for :main do %>
    <main>
        <article class="home-blocks">
            <div class="row">
                <div class="col-8">a</div>
                <div class="col-4">a</div>
                <div class="w-100"></div>
                <div class="col-4">a</div>
                <div class="col-4">a</div>
                <div class="col-4">a</div>
            </div>
        </article>
    </main>
<% end %>
<%= render template: "layouts/main" %>